
div.rectangle {
    height: 200px;
    width: 400px;
    background: red;
    position: relative;
}
div.circle {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background: blue;
    position: relative;
}

div.triangle {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    background: transparent;
    border: 100px solid #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}